
<%- include ('./include_front/head_front.ejs') %>
<%- include ('./include_front/navbar.ejs') %>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/assets_front/images/pexels-leah-kelley-3935702.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="/website">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-0 bread">About Us</h1>
     </div>
   </div>
 </div>
</section>
<section class="ftco-section" style="background-color: #f5f5f5;">
  <div class="box" style="background-color: white; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
      <p class="text-center" style="font-size: large; font-weight: bold; color: black; padding: 20px;">
          <span style="color: #1e90ff;">We are Hodophile Touristry</span>, who have come together to showcase the beauty, diversity, and culture of this incredible country to the world. Whether you're a <span style="color: #1e90ff;">student looking to learn more about India's history and culture</span>, or a <span style="color: #1e90ff;">traveler seeking to experience the country's unique charms</span>, our website is designed to cater to your needs. 
          <br><span style="color: #1e90ff;">From customized itineraries to expert guides</span>, we strive to provide you with an <span style="color: #1e90ff;">unforgettable travel experience that will broaden your horizons and enrich your understanding of the world</span>. We believe in the power of travel to educate, inspire, and transform.
          <br>This website is designed to provide you with a glimpse into this <span style="color: #1e90ff;">vibrant tapestry of Indian life</span>, with customized itineraries, expert guides, and unique travel experiences. We are committed to <span style="color: #1e90ff;">sustainable and responsible tourism practices</span> that benefit both the environment and local communities. Our website offers a range of travel options, from eco-friendly tours to luxury experiences, cultural immersions to adventure activities, and more.
          <br>There are <span style="color: #1e90ff;">practical tips for planning your trip</span> and making the most of your time in this incredible country. So, come, explore our website and discover for yourself the <span style="color: #1e90ff;">magic of India, and why this country is truly one of the world's most fascinating destinations</span>.
          We believe that travel should be accessible to everyone, regardless of budget or experience.
         <br> <span style="color: #1e90ff;">Thank you for considering Hodophile Touristry </span>for your next travel adventure. We can't wait to help you discover the magic of India.
          We are committed to working with our customers to create personalized travel plans that meet their unique needs.
</p>      
  </div>
</section>

<style>
.ftco-section {
  padding: 50px;
}

.box {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .ftco-section {
    padding: 30px;
  }
  
  .box {
    padding: 10px;
  }
  
  p.text-center {
    font-size: medium;
    padding: 10px;
  }
}
</style>
<section class="ftco-section services-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
       <div class="w-100">
        <span class="subheading">Welcome to Hodophile Touristry</span>
        <h2 class="mb-4">It's time to start your adventure</h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <p><a href="/destination" class="btn btn-primary py-3 px-4">Search Destination</a></p>
      </div>
    </div>
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
        <div class="services services-1 color-1 d-block img" style="background-image: url(/assets_front/images/services-1.jpg);">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Activities</h3>
            <p>Backpacking,Trekking,Adventure sports,Camping,Food tourism,Exploration and many more...</p>
          </div>
        </div>      
      </div>
      <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
        <div class="services services-1 color-2 d-block img" style="background-image: url(/assets_front/images/services-2.jpg);">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Travel Arrangements</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary</p>
          </div>
        </div>    
      </div>
      <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
        <div class="services services-1 color-3 d-block img" style="background-image: url(/assets_front/images/services-3.jpg);">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Private Guide</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary</p>
          </div>
        </div>      
      </div>
      <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
        <div class="services services-1 color-4 d-block img" style="background-image: url(/assets_front/images/services-4.jpg);">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Location Manager</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary</p>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>
</div>
</section>


<section class="ftco-section ftco-about img"style="background-image: url(/assets_front/images/services-3.jpg);">
 <div class="overlay"></div>
 <div class="container py-md-5">
  <div class="row py-md-5">
   <div class="col-md d-flex align-items-center justify-content-center">
 </div>
</div>
</div>
</section>

<section class="ftco-section ftco-about ftco-no-pt img">
 <div class="container">
  <div class="row d-flex">
   <div class="col-md-12 about-intro">
    <div class="row">
     <div class="col-md-6 d-flex align-items-stretch">
      <div class="img d-flex w-100 align-items-center justify-content-center" style="background-image:url(/assets_front/images/pexels-element-digital-1051073.jpg);">
      </div>
    </div>
    <div class="col-md-6 pl-md-5 py-5">
      <div class="row justify-content-start pb-3">
        <div class="col-md-12 heading-section ftco-animate">
         <span class="subheading">About Us</span>
         <h2 class="mb-4">Make Your Tour Memorable and Safe With Us</h2>
         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
         <p><a href="/destination" class="btn btn-primary">Book Your Destination</a></p>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
</div>
</section>



<%- include ('./include_front/footer_front.ejs') %>	
