
<%- include ('./include_front/head_front.ejs') %>
<%- include ('./include_front/navbar.ejs') %>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/assets_front/images/pexels-leah-kelley-3935702.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="/website">Home <i class="fa fa-chevron-right"></i></a></span> <span>Experience <i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-0 bread">Camping</h1>
     </div>
   </div>
 </div>
</section>
<section class="ftco-section" style="background-color: #f5f5f5;">
  <div class="box" style="background-color: white; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
     <pre><p class="text-center" style="font-size: large; font-weight: bold; color: black; padding: 20px;">
Camping is a great way to explore India's natural beauty and get away from the hustle and bustle of city life. 
You can pitch a tent in the foothills of the Himalayas, camp by the banks of the Ganges river in Rishikesh, or spend a night in the Thar Desert in Rajasthan. 
Camping in India is an experience that will leave you with memories for a lifetime.
Camping Essentials:
=>When planning a camping trip in India, it's important to make sure you have all the necessary essentials for a comfortable and safe experience.
Here are some essential items you should consider packing:
1.Tent: A good quality tent is essential to keep you dry and protected from the elements.
2.Sleeping Bag: A warm sleeping bag is important for a comfortable night's sleep, especially if you're camping in the mountains or during the winter.
3.Camping Stove: A camping stove will allow you to cook meals and heat water for tea or coffee.
4.First Aid Kit: A well-stocked first aid kit is important in case of any injuries or illnesses.
5.Flashlight and Extra Batteries: A flashlight will come in handy for nighttime use and in case of emergencies.
6.Insect Repellent: Mosquitoes and other insects can be a nuisance, especially during the summer months.
7.Warm Clothing: Even if you're camping in a warm climate, temperatures can drop significantly at night, so be sure to pack warm clothing.
By packing these essentials, you'll be well-prepared for your camping adventure in India.
So pack your camping gear and get ready to enjoy the natural beauty of India.
    </p></pre>    
  </div>
</section>

<style>
.ftco-section {
  padding: 50px;
}

.box {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .ftco-section {
    padding: 30px;
  }
  
  .box {
    padding: 10px;
  }
  
  p.text-center {
    font-size: medium;
    padding: 10px;
  }
}
</style>
<%- include ('./include_front/footer_front.ejs') %>	








