

<%- include ('./include_front/head_front.ejs') %>
<%- include ('./include_front/navbar.ejs') %>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/assets_front/images/pexels-leah-kelley-3935702.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="/website">Home <i class="fa fa-chevron-right"></i></a></span> <span>Experience <i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-0 bread">Party</h1>
     </div>
   </div>
 </div>
</section>
<section class="ftco-section" style="background-color: #f5f5f5;">
  <div class="box" style="background-color: white; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
     <pre><p class="text-center" style="font-size: large; font-weight: bold; color: black; padding: 20px;">
India is famous for its vibrant nightlife and party scene. From the clubs of Mumbai to the beach parties of Goa,
 there's always something going on. 
You can dance the night away to Bollywood beats or enjoy a cocktail in one of Delhi's rooftop bars. 
With so many options to choose from, you're sure to find a party that suits your style. 
So put on your dancing shoes and get ready to party the night away in India.
From grand weddings to music festivals, there are several ways to party in India. 
Here are some popular party destinations in India:
1.Goa: Known for its sandy beaches and lively nightlife, Goa is a popular party destination in India. 
From beach parties to music festivals, there's always something happening in Goa.
2.Mumbai: The city of Mumbai is home to some of the most happening clubs and bars in India. 
With a thriving music scene and a cosmopolitan vibe, Mumbai is the place to be if you're looking 
for a night out on the town.
3.Delhi: The capital city of India is known for its vibrant culture and rich history.
From rooftop bars to underground clubs, Delhi has something for everyone.
4.Jaipur: The Pink City of Jaipur is not just known for its stunning palaces and forts but also for its vibrant nightlife.
With rooftop restaurants and bars, Jaipur offers a unique partying experience that blends history and modernity.
India's party scene is as diverse as its people, and you're sure to find something that suits your taste. 
From traditional celebrations to modern nightlife, India has it all.
    </p></pre>    
  </div>
</section>

<style>
.ftco-section {
  padding: 50px;
}

.box {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .ftco-section {
    padding: 30px;
  }
  
  .box {
    padding: 10px;
  }
  
  p.text-center {
    font-size: medium;
    padding: 10px;
  }
}
</style>
<%- include ('./include_front/footer_front.ejs') %>	






















