<%- include ('./include_front/head_front.ejs') %>
<%- include ('./include_front/navbar.ejs') %>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-color:rgb(222, 206, 211);margin-bottom:50px;">
    <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
            <pre>
                
            </pre>
        <p class="breadcrumbs">
            <ul style="list-style-type:decimal;color:black;font-weight:bolder;"><b>Privacy and Policy</b>
                <li style="color:black">There are times when we may collect personal information from you such as name, physical address or telephone number. It is our intent to inform you before we do that and to tell you what we intend to do with the information. Generally, you will have the option not to provide the information, and in the future you will be able to "opt out" of certain uses of the information. If you choose not to provide the information we request, you can still visit our website, but you may be unable to access certain options, offers and services.</li>
                <li style="color:black">Hodophile Touristry will take appropriate steps to protect the information you share with us. We have implemented technology and security features and strict policy guidelines to safeguard the privacy of your personally identifiable information from unauthorized access and improper use or disclosure. Hodophile Touristry will continue to enhance our security procedures as new technology becomes available.</li> 
                <li style="color:black">Hodophile Touristry respects your privacy and recognizes the need to protect the personally identifiable information (any information by which you can be identified, such as name, address and telephone number) you share with us. We would like to assure you that we follow appropriate standards when it comes to protecting your privacy on our web sites.</li> 
                </ul></p>
    </div>
    </div>
</div>
</section>
<%- include ('include_front/footer_front.ejs') %>		