<%- include ('./include_front/head_front.ejs') %>
<%- include ('./include_front/navbar.ejs') %>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-color:rgb(230, 203, 212);margin-bottom:50px;">
    <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
            <pre>
                
            </pre>
        <p class="breadcrumbs">
            <ul style="list-style-type:decimal;color:black;font-weight:bolder;"><b>Refund Policy</b>
                <li style="color:black">There is no refund payable for any unutilized services (e.g. meals, entrance fees, optional tours, hotels, transport and sightseeing etc.,) for any reason whatsoever.</li>
                <li style="color:black">Any service booked in advance and cancelled as per booking policy, refund will be done in the same mode of payment after deducting cancellation charges and actual bank charges if any for refund. ( to customer bank account if paid by bank transfer, net banking mode / credit /debit card – reversal to their respective credit card account will be done. This process will take 15 to 45 days to reflect in their account.</li> 
                <li style="color:black">Refunds (If any) for amendments and/or cancellations will be paid directly to the Client for booking made directly with the Company by way of NEFT / RTGS / Crossed cheque or by credit card it will be reversed to their credit card account at the discretion of the company. It would at least take 45 days to process refunds.</li> 
                </ul></p>
    </div>
    </div>
</div>
</section>
<%- include ('include_front/footer_front.ejs') %>		