<%- include ('./include_front/head_front.ejs') %>
<%- include ('./include_front/navbar.ejs') %>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-color:rgb(230, 208, 215);margin-bottom:50px;">
    <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs">
            <pre>
                
            </pre>
            <ul style="list-style-type:decimal;color:black;font-weight:bolder;"><b>Terms and Conditions</b>
                <li style="color:black">We shall not be responsible for any delays & alterations in the programme or expenses incurred – directly or indirectly – due to natural hazards, flight cancellations, accident, breakdown of machinery or equipments, breakdown of transport, weather, sickness, landslides, political closures or any untoward incidents.</li>
                <li style="color:black">We do not have any insurance policy covering the expenses for accident, sickness, loss due to theft, or any other reasons. Visitors are advised to seek such insurance arrangements in their home country. All baggages & personal property/s at all times are at the client's risk.</li> 
                <li style="color:black">Cancellation Policy:
                    In the event of cancellation of tour / travel services due to any avoidable / unavoidable reason/s we must be notified of the same in writing. Cancellation charges will be effective from the date we receive advice in writing, and cancellation charges would be as follows:    
                    45 days prior to arrival: 10% of the Tour / service cost<br>
                    15 days prior to arrival: 25% of the Tour / service cost<br>
                    07 days prior to arrival: 50% of the Tour / service cost<br>
                    48 hours prior to arrival OR No Show: No Refund</li> 
                </ul></p>
    </div>
    </div>
</div>
</section>

<%- include ('include_front/footer_front.ejs') %>	