<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    <link rel = "icon" href="/assets_front/images/2832064.png">
    <link rel="stylesheet" href="/assets/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>

    <div class="main">
        <section class="sign-in">
            <div class="container">
                <a href="/website" style="margin-left:20px;font-size: 17px;">To the website</a>
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/assets/images/signin-image.jpg" alt="sign in image"></figure>
                        <a href="/signup" class="signup-image-link">Create a new account</a><br>
                    </div>
                    <div class="signin-form">
                         <% if (locals.message) { %>
                            <div class="alert alert-message">
                            <%= message.message %>
                            </div>
                        <% } %> 
                        <% if (locals.message && locals.message.success ){ %>
                            <div class="alert alert-success">
                    <%= message.success %>
                    <%= message.message %>
                        </div>
                    <% } %>
                        <h2 class="form-title">Sign In</h2>
                        <form action="/loggedin" method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" required/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password" required/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <a href="/forgot" class="signup-image-link">Forgot Password?</a>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>